@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

:root {
  --color-primary: #1a3b55;
  --color-secondary: #e8ecef;
  --color-white: #fff;
  --color-red: #d9121f;
  --color-text: #030303;
  --color-dark: #000000;
  --color-highlight: #474747;
  --color-button-secondary: #1d1d1d;

  /* Gaps */
  --gap-10: 10px;
  --gap-20: 20px;
  --gap-30: 30px;
}

.primary-button {
  padding: 10px 20px;
  background-color: var(--color-red);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
}
.primary-button:hover {
  background-color: var(--color-primary);
  color: #fff;
}

.secondary-button {
  padding: 10px 20px;
  border-radius: 3px;
  background-color: var(--color-button-secondary);
  color: #fff;
  border: none;

  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
}
.secondary-button:hover {
  background-color: var(--color-primary);
  color: #fff;
}

.text-highlight {
  font-weight: 300;
}

.product__title {
  font-size: 18px;
}
.text-heading {
  color: var(--color-red);
  font-size: 14px;
  line-height: 16px;
}

.product__heading1 {
  font-size: 24px;
  color: var(--color-white);
  line-height: 2.5rem;
}
.product__heading2 {
  font-size: 24px;
  color: var(--color-text);
  line-height: 2.5rem;
}

.product__offer {
  font-size: 10px;
  color: var(--color-white);
}

.product__offer2 {
  font-size: 10px;
  color: var(--color-dark);
}

.breadcrumb__section {
  font-size: 12px;
  color: var(--color-text);
  margin-top: 10px;
}
.breadcrumb__section a {
  color: var(--color-text);
}
